
  
  {% extends "base.html" %}
  {% block content %}
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

               

                <!-- Comments Form -->
                <div class="well">
                    <h4>Editar comentario :</h4>
                    <form role="form" action="/comentario/{{comentario[0]}}" method="post" enctype="application/x-www-form-urlencoded" > 
                        <div class="form-group">
                            <textarea name="comentarios" class="form-control" rows="3">{{comentario[3]}}</textarea>

                          
                        </div>
                        <button type="submit" class="btn btn-primary">Actualizar</button>
                    </form>
                </div>

                <hr>

                
            

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

            <div class="well">
                    <h4>Proyecto de base de datos </h4>
                    <p>Esto es un ejemplo de la ayudantia hecha por Manuel Alba.</p>
                </div>



                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Categorias que lo contiene :</h4>
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="list-unstyled">
                              
                                {% for categoria in categorias %}
                                <li><a href="/categoria/{{categoria[0]}}">{{categoria[1]}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        
                    </div>
                    <!-- /.row -->
                </div>

  

            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Bases de datos 2017</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>

     {% endblock %}