{% extends "base.html" %}
  {% block content %}
            <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Ingreso de Auto</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Porfavor ingrese todos los datos solicitados 
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <form role="form"  action="/formularios" method="post" enctype="application/x-www-form-urlencoded" >
                                            <div class="form-group">
                                                <label>Patentet</label>
                                                <input class="form-control" name="toto">
                                                <p class="help-block"></p>
                                            </div>
                                            <div class="form-group">
                                                    <label>Rut </label>
                                                    <input class="form-control" name="toto">
                                                    <p class="help-block"></p>
                                            </div>
                                            <div class="form-group">
                                                    <label>Digito berificacion</label>
                                                    <input class="form-control" name="toto">
                                                    <p class="help-block"></p>
                                            </div>
                                            <div class="form-group">
                                                    <label>Nombre</label>
                                                    <input class="form-control" name="toto">
                                                    <p class="help-block"></p>
                                            </div>
                                            <div class="form-group">
                                                    <label>Apellido</label>
                                                    <input class="form-control" name="toto">
                                                    <p class="help-block"></p>
                                            </div>
                                            <div class="form-group">
                                                    <label>Correo</label>
                                                    <input class="form-control" name="toto">
                                                    <p class="help-block"></p>
                                            </div>
                                            <div class="form-group">
                                                    <label>Telefono</label>
                                                    <input class="form-control" name="toto">
                                                    <p class="help-block"></p>
                                            </div>
                                            <div class="form-group">
                                                    <label>Contacto Alternativo</label>
                                                    <input class="form-control" name="toto">
                                                    <p class="help-block"></p>
                                            </div>
                                          
                                            <button type="submit" class="btn btn-default">Submit Button</button>
                                            <button type="reset" class="btn btn-default">Reset Button</button>
                                        </form>
                                    </div>
                                    <!-- /.col-lg-6 (nested) -->
                                 
                                    <!-- /.col-lg-6 (nested) -->
                                </div>
                                <!-- /.row (nested) -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /#page-wrapper -->

                {% endblock %}   