{% extends "base.html" %}
  {% block content %}

 <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Tablas De NewralCar</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
           
                <!-- /.row -->
            
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Sensores
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Atributos</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>id_sensor</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Nombre</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Presicion</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>tipo_unidad</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-6 -->
                     
                    <!-- /.col-lg-6 -->
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Autos
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Atributos</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Rut Dueño</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Largo</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Ancho</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Alto</td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>Peso Neto</td>
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td>Tipo Combustible</td>
                                            </tr>
                                            <tr>
                                                <td>7</td>
                                                <td>Modalidad de Vehiculo</td>
                                            </tr>
                                            <tr>
                                                <td>8</td>
                                                <td>Cantidad Máxima de Pasajeros</td>
                                            </tr>
                                            <tr>
                                                <td>9</td>
                                                <td>Numero de Aro</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-6 -->
                     
                    <!-- /.col-lg-6 -->
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Clientes
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Atributos</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Rut del Cliente</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Nombre</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Apellido</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Correo</td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>Telefono de Contacto</td>
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td>Página de Presentacion</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-6 -->
                     
                    <!-- /.col-lg-6 -->
                </div>
                <!-- /.row -->
               
                <!-- /.row -->
            </div>

              {% endblock %}